<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="register" method="POST">
        Username <input type="text" name="username" value="{{register.Username}}">
        Password <input type="text" name="password" value="{{register.Password}}">
        Full name <input type="text" name="fullname" value="{{register.Fullname}}">
        Date of Birth <input type="text" name="dob" value="{{register.DoB}}">
        <button type="submit" class="btn btn-danger">Register</button>
    </form>
</body>
</html>